@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #1DCD9F;
    --cor-hover: #169976;
    --cor-10: #06D001;
    --cor-9: #00FF9C;
    --cor-8: #00CAFF;
    --cor-7: #FF8E00;
    --cor-6: #F3C623;
    --cor-5-: #EA2F14;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: 'josefins-sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.jogos{
    padding: 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jogos__zerados{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.jogos__zerados__divisao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.jogos__zerados__titulo{
    font-size: 36px;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}

.jogos__zerados__texto__nome{
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.jogos__zerados__texto{
    font-size: 24px;
    font-weight: 300;
    font-family: var(--fonte-secundaria);
    line-height: 1.3;
    word-spacing: 5px;
}

.jogos__zerados__texto__nota__10{
    font-size: 36px;
    font-family: var(--fonte-primaria);
    color: var(--cor-10);
}

.jogos__zerados__texto__nota__9{
    font-size: 36px;
    font-family: var(--fonte-primaria);
    color: var(--cor-9);
}

.jogos__zerados__texto__nota__8{
    font-size: 36px;
    font-family: var(--fonte-primaria);
    color: var(--cor-8);
}

.jogos__zerados__texto__nota__7{
    font-size: 36px;
    font-family: var(--fonte-primaria);
    color: var(--cor-7);
}

.jogos__zerados__texto__nota__6{
    font-size: 36px;
    font-family: var(--fonte-primaria);
    color: var(--cor-6);
}

.jogos__zerados__texto__nota__5-{
    font-size: 36px;
    font-family: var(--fonte-primaria);
    color: var(--cor-5-);
}

.jogos__zerados__texto__plataformas{
    font-size: 36px;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
}

.jogos__zerados__texto__plataformas__nomes{
    font-size: 28px;
    font-weight: 100;
    font-family: var(--fonte-secundaria);
    padding: 0% 0% 5% 0%;
}

img{
    width: 230px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.rodape {
    padding: 2%;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}

@media screen and (max-width: 430px){

    .cabecalho{
    padding: 5% 0% 3% 6%;
    }

    .cabecalho__menu__link{
        font-size: 14px;
        justify-content: center;
    }
    
    .jogos__zerados__titulo{
        font-size: 18px;
        font-family: var(--fonte-terciaria);
    }

    .jogos__zerados__texto__nome{
        font-size: 18px;
        font-family: var(--fonte-terciaria);
    }

    .jogos__zerados__texto{
        font-size: 14px;
        font-family: var(--fonte-terciaria);
    }

    .jogos__zerados__texto__nota__10{
        font-size: 18px;
        font-family: var(--fonte-terciaria);
    }

    .jogos__zerados__texto__nota__9{
        font-size: 18px;
        font-family: var(--fonte-terciaria);
    }

    .jogos__zerados__texto__nota__8{
        font-size: 18px;
        font-family: var(--fonte-terciaria);
    }

    .jogos__zerados__texto__nota__7{
        font-size: 18px;
        font-family: var(--fonte-terciaria);
    }

    .jogos__zerados__texto__nota__6{
        font-size: 18px;
        font-family: var(--fonte-terciaria);
    }

    .jogos__zerados__texto__nota__5{
        font-size: 18px;
        font-family: var(--fonte-terciaria);
    }

    .jogos__zerados__texto__plataformas{
        font-size: 18px;
        font-family: var(--fonte-terciaria);
        font-weight: 100;
    }

    .jogos__zerados__texto__plataformas__nomes{
        font-size: 18px;
        font-family: var(--fonte-terciaria);
        font-weight: 100;
    }

    img{
        width: 60%;
        object-fit: cover;
        border-radius: 8px;
    }
}